html, body {
  background-color: grey;
  height: 100%;
  margin: 0;
}

#app {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  font-family: Helvetica, Serif;
}

/* GENERAL MODAL & HEADER STYLES */

.modal {
  align-self: center;
  width: 80%;
  height: 80%;
  background-color: #f7f5f2;
  position: relative;
  border: 2px solid #edeae5;
  color: #9d9c9b;
  text-align: center;
}

.close-button {
  font-weight: 600;
  padding: 0.5em;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  z-index: 100;
}

.step {
  color: #9d9c9b;
  font-style: italic;
  padding: 1em;
  position: absolute;
  top: 0.75em;
  left: 0.75em;
}

.highlight-text {
  color: #5c7c99;
  font-weight: 600;
}


/* LAYOUT STYLES */

/* highest level */
.modal-slide {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.modal-slide-vertical {
  position: relative;
  display: flex;
  height: 100%;
}

/* second level */
.modal-child {
  display: flex;
  align-self: center;
}

.modal-child-vertical {
  display: flex;
}

.text-container {
  margin: 2em;
  flex: 2;
  width: 50%;
}

.text-container-vertical {
  margin: 0 4em;
  flex: 2;
}

.image-container {
  flex: 3;
  width: 100%;
}

.form-container {
  display: flex;
  flex: 3;
  justify-content: center;
  align-items: center;
  width: 60%;
  align-self: center;
  flex-wrap: wrap;
  align-content: flex-start;
  position: relative;
}

/* third level */
.modal-child p {
  align-self: center;
  line-height: 2em;
  flex: 1;
}

.option {
  flex: 1;
  border: 2px solid #edeae5;
  align-self: stretch;
  display: flex;
  background-size: cover;
  position: relative;
  cursor: pointer;
}

.form-container input {
  margin: 1em;
  font-size: 1.2em;
  padding: 0.5em;
  font-family: Helvetica, Serif;
}

.form-container .submit {
  position: absolute;
  bottom: 1em;
  right: 1em;
  background-color: #5c7c99;
  border: 1px grey solid;
  color: white;
  font-family: Helvetica, Serif;
  padding: 0.5em 0.75em;
  cursor: pointer;
}

/* fourth level */
.option span {
  flex: 1;
  align-self: center;
  font-style: italic;
  position: relative;
  z-index: 1;
  color: black;
}

.photo-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255,255,255,0.5);
}
